{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-d15">
                Welcome to the D15 Movie Lovers Store, Irelands best physical media online store for all your <em>Blu Ray</em>, <em>4k UHD</em>, <em>Special Edition</em> and <em>Physical Media</em> needs.
                
            </h1>
            {% if user.is_authenticated %}
                <p class="landpage-note text-d15">Why not <a href="{% url 'add_to_newsletter' user.id %}">sign up</a> to our Newsletter to keep informed of our new releases and special deals.</p>
                {% else %}
                <p class="landpage-note text-d15">If you love movies like we do please <a href="{% url 'account_signup' %}">register</a> and sign up to our Newsletter to keep informed of our new releases and special deals.</p>
                {% endif %}
            <div class="my-5">
                <h4>
                    <a href="{% url 'stockitems' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>

            </div>
        </div>
    </div>
</div>
{% endblock %}