<div class="collapse navbar-collapse text-d15" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Movies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'stockitems' %}?sort=price&direction=asc" class="dropdown-item ">By Price</a>
                <a href="{% url 'stockitems' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'stockitems' %}?sort=genre&direction=asc" class="dropdown-item ">By Genre</a>
                <a href="{% url 'stockitems' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blu Ray
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'stockitems' %}?format=blu_ray" class="dropdown-item">Blu-ray</a>
                <a href="{% url 'stockitems' %}?format=4k_uhd" class="dropdown-item">4k UHD</a>
                <a href="{% url 'stockitems' %}?specialeditions" class="dropdown-item">Special Editions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Deals</a>
            </div>
        </li>
    </ul>
</div>