{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid text-d15">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if stockitem.image %}
                        <a href="{{ stockitem.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ stockitem.image.url }}" alt="{{ stockitem.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="/media/noimage.png" alt="{{ stockitem.name }}">
                        </a>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                <h1>Add your review:</h1>
                <p>
                    <form method="POST" action="{% url 'add_review' %}">
                        {% csrf_token %}
                        <input type="hidden" name="stockitem_id" value="{{ stockitem.id }}"/>
                        <input type="hidden" name="username" value="{{ user.username }}"/>
                        <div class="newsletter-form">
                            Review:<br><textarea name="review" rows="10" cols="50"></textarea><br>
                        </div>
                        <button class="primaryAction" type="submit">send</button>
                      </form>
                </p>
                {% else %}
                <h1>Please login to add a review</h1>
                {% endif %}
                <hr>
                {% for review in reviews %}
                <p>Comment by {{ review.username }} on {{ review.date }}</p>
                <p>{{ review.review_text }}</p>
                {% if user.is_authenticated %}
                <p>{% if review.username == user.username %} <a href="{% url 'show_review' review.id %}">Edit</a> <a href="{% url 'delete_review' review.id %}">Delete</a>{% endif %}</p>
                {% endif %}
                <hr>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ stockitem.name }} {% if stockitem.is_special_edition %}- Special Edition {% endif %}</p>
                    <p class="lead mb-0 text-left font-weight-bold">€{{ stockitem.price }}</p>
                    {% if stockitem.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ stockitem.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3"><strong>Genre:</strong> {{ stockitem.genre }}</p>
                    <p class="mt-3"><strong>Format:</strong> {{ stockitem.format }}</p>
                    <p class="mt-3"><strong>Region:</strong> {{ stockitem.region }}</p>
                    <p class="mt-3">{{ stockitem.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' stockitem.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ stockitem.id }}" id="decrement-qty_{{ stockitem.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="300"
                                            data-item_id="{{ stockitem.id }}"
                                            id="id_qty_{{ stockitem.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ stockitem.id }}" id="increment-qty_{{ stockitem.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'stockitems' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon text-dark-d15">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase text-dark-d15">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}